* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: antiquewhite !important;
}

form{
    display: table-caption;

}
.form-container{
    margin: auto;
}
#intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#posts {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#post-header {
    padding: 1.8rem 0;
    width: 100%;
    background-image: linear-gradient(antiquewhite, rgba(0, 0, 0, 0)), url(../adat/bej1.jpg);
    background-size: cover;
}
#post-content{
    padding: 0.2rem 1.5rem;
}

article{
    margin-bottom: 0.4rem;
    width: 100%;
}

.bottom-fade{
    background: linear-gradient(antiquewhite, antiquewhite, antiquewhite, rgba(222, 3, 108, 0.45));
}

h1 {
    color: dimgray;
    font-family: "Segoe Script", serif
}

h3 {
    font-family: Gabriola, serif;
    font-size: 45px !important;
    line-height: 45px;
    font-weight: bold !important;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00001A;
    width: 100%;
    height: 100vh;
}

.line h3::after {
    content: '';
    display: block;
    position: absolute;
    top: 115%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 3px;
    transform: scale(0);
    transition: transform 250ms ease-in;
}

.line h3:hover::after {
    transform: scale(1);
}

p {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    font-family: Gabriola, serif;
}

hr.animated {
    width: 100%;
    height: 4px;
    animation: expand 5s infinite ease-in-out;
}

@keyframes expand {
    0% {
        transform: scaleX(0.2);
    }
    50% {
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0.2);
    }
}

hr {
    background-color: pink !important;
    height: 2px;
}

/*#region NAVBAR STYLE */

.nav{
    position: relative;
    width: 100%;
    z-index: 100;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

/*#endregion NAVBAR STYLE */

