
form{
    width: 50%;
    padding: 2rem;
}



.btn-outline-primary{
    background-color: pink !important;
    border-color: dimgray !important;
    color: black !important;
}

.btn-outline-primary:hover {
    background-color: hotpink!important;
    border-color: dimgray !important;
    color: black !important;
}

.btn-outline-primary:active {
    background-color: pink !important;
    border-color: dimgray !important;
    color: black !important;
}



